{% load static %}
<!DOCTYPE html>
<html>
<head>  
	<meta charset="utf-8" />  
	<title>
	{% block title %}
	My Pet Shop
	{% endblock %}
	</title>  
	<link href="{% static 'css/base.css'%}" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="font-style: italic;color: white; background-image: url({% static 'img/bg.jpg' %});">  
	<div class="navbar navbar-dark bg-dark" style="font-size: 30px;"> 
	<a href="/"><img src="{% static 'img/logo.jpg' %}" width="60px;" height="60px;" alt="logo">  Happy Paws Shoppy</a>  
	</div>  
		<div class="navbar navbar-light bg-light" style="color: black;">      
		{% with total_items=cart|length %}    
			{% if cart|length > 0 %}      
				<a href="{% url 'cart:cart_detail' %}">  
				<h5>Your cart:</h5>        
				{{ total_items }} item{{ total_items|pluralize }},        
				${{ cart.get_total_price }}      
				</a>    
			{% else %}      
				Your cart is empty.    
			{% endif %}  
		{% endwith %}    
		</div>  
	<div class="container"> 
	{% block content %}    
	{% endblock %}  
	</div>
</body>
</html>
